[credential]
	helper = store

[user]
	name = Brian Chrzanowski
	email = chrzanowskitest@gmail.com

[core]
	pager="less -FRX"

[init]
	defaultBranch=master

[merge]
	# for help with this, read https://stackoverflow.com/questions/161813/how-to-resolve-merge-conflicts-in-git-repository
	tool=vimdiff
	conflictsytle=diff
	prompt=true

[alias]
    # one-line log
    l=log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

	# normal usage
    a=add
    ap=add -p
    c=commit --verbose
    ca=commit -a --verbose
    cm=commit -m
    cam=commit -a -m
    m=commit --amend --verbose

	# company's ci is "interesting"
	tb="!git commit -m 'Trigger Build' --allow-empty && git push origin HEAD"

	# get the current branch name
	currname=rev-parse --abbrev-ref HEAD

	# fetch, merge master into current branch, push to origin branch
	goalpost="!git fetch; git pull --commit origin master ; git mergetool --prompt && git clean -f . && git commit -a && git push origin HEAD"

	# diff commands
    d=diff
    ds=diff --stat
    dc=diff --cached
	dn=diff --name-only

	root=rev-parse --show-toplevel

    s=status -s
    co=checkout
    cob=checkout -b

	cb="!git branch | grep '*'"

    # list branches sorted by last modified
    b="!git for-each-ref --sort='-authordate' --format='%(HEAD)%09%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# git "branch clean"
	bc="!for b in $(git branch | grep -v '*\\|+'); do read -p 'delete "'"$b"'" (Y/N)? ' v ; [ $v = 'y' ] || [ $v = 'Y' ] && git branch -D "$b"; done"

	rc="!git clean -f . && git restore --staged . && git restore ."

    # list aliases
    la="!git config -l | grep alias | cut -c 7-"

	gr="!git rev-parse --show-toplevel"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[color]
	ui = auto
[safe]
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
[url "https://github.com"]
	insteadOf = git://github.com
[url "https://git.ti.com/git"]
	insteadOf = git://git.ti.com
[url "https://git.yoctoproject.org/meta-arago"]
	insteadOf = http://arago-project.org/git/meta-arago
[url "https://git.yoctoproject.org/meta-ti"]
	insteadOf = http://arago-project.org/git/meta-ti
[url "https://git.ti.com/arago-project/oe-layersetup"]
	insteadOf = http://arago-project.org/git/projects/oe-layersetup
